---
const jobs = await Astro.glob('../content/jobs/*.md')
---

<ol>
  {
    jobs.map((job) => (
    <li class="mb-12">
      <header class="text-xs font-semibold uppercase tracking-wide text-slate-500">
        {job.frontmatter.range}
      </header>
      <div>
        <h3 class="font-medium leading-snug text-slate-200 hover:text-teal-300">
          {job.frontmatter.company}
        </h3>
        <h4 class="text-slate-500">
          {job.frontmatter.title}
        </h4>
        <p class="mt-2 leading-normal">
          {job.frontmatter.description}
        </p>
        <ul class="mt-4 flex flex-wrap gap-2" aria-label="Tecnologías usadas">
          {
            job.frontmatter.tags.map((tag: string) => (
            <li class="flex items-center rounded-full bg-teal-400/10 px-3 py-1 text-xs font-medium leading-5 text-teal-300 ">{tag}</li>
            ))
          }

        </ul>
      </div>
    </li>
    ))
  }
</ol>