---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-slate-900 text-slate-400 antialiased">
		<div id="grad-box" class="pointer-events-none fixed inset-0 z-30 transition duration-300"></div>
		<div class="mx-auto min-h-screen max-w-screen-xl font-sans px-24">
			<slot />
		</div>
	</body>
	<script>
		const gradientBox = document.getElementById('grad-box');
		const RGBA = 'rgba(29, 78, 216, 0.15)';

		document.addEventListener('mousemove', function(e) {
			const windowWidth = window.innerWidth;
			const windowHeight = window.innerHeight;

			const mouseXpercentage = Math.round((e.pageX / windowWidth) * 100);
			const mouseYpercentage = Math.round((e.pageY / windowHeight) * 100);

			gradientBox.style.background = `radial-gradient(600px at ${mouseXpercentage}% ${mouseYpercentage}%, ${RGBA}, transparent 80%)`;
		});
	</script>
</html>

